<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>Session-8, Assignment-4</h1>
        <br>
        <form role="form" autocomplete="off">

          <div class="form-group" style="text-align: left;">
            <label for="honorific">Honorific</label>
            <!-- Input field for honorific(Mr/Mrs) imparting two-way data flow using ngModel -->
            <select class="txt-box" name="honorific" [(ngModel)]="honorific" class="form-control" #hnrfc>
              <!-- Mr/Mrs options are populated using dropdown service -->
              <option [value]="Honorific" [disabled]="true">Select Honorific </option>
              <option *ngFor="let hnr of dropdown" [ngValue]="hnr.honorific">
                <!-- Display "Mr." and "Mrs." using string interpolation -->
                {{hnr.honorific}}
              </option>
            </select>
          </div> 

          <div class="form-group" style="text-align: left;">
            <label for="personName">Person Name</label>
            <!-- Input field for name imparting two-way data flow using ngModel -->
            <input type="text" id="nm" name="personName" placeholder="Person Name" class="form-control" [(ngModel)]="personName" #pnm>
          </div>  

          <div class="form-group" style="text-align: left;">
            <label for="pesonAge">Person Age</label>
            <!-- Input field for age imparting two-way data flow using ngModel -->
            <input type="number" id="ag" name="pesonAge" placeholder="Person Age" class="form-control" [(ngModel)]="personAge" #age>
          </div>

          <!-- Button that calls service functions and ultimately shows data input in table -->
          <button class="btn btn-primary btn-block" (click)="addPerson(honorific,personName,personAge)">Add to Table</button>
        
        </form>

        <!-- Conditional display of table based on length of input array -->
        <div *ngIf="personArr.length > 0">
          <!-- Display table that is part of child component -->
          <app-person [personDetail]="personArr"></app-person>
        </div>
      </div>
    </div>
  </div>
</div>
